<div class="card"><span class="h1">Employee form</span></div>

<br><br>
<div style="max-width: 18rem; background-color: cadetblue">
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmitted(employeeForm.value)" title="Employee form">
  <input class= 'col-form-label' type="text" formControlName="name" placeholder="Name"><br><br>
  <input class= 'col-form-label' type="number" formControlName="age" placeholder="Age"><br><br>
  <input class= 'col-form-label' type="number" formControlName="salary" placeholder="Salary"><br><br>
  <input class="btn" type="submit" value="Submit" style="background-color: skyblue" [disabled]="employeeForm.invalid">
</form>
</div>

<br><br>
<div class="p-3 mb-2 bg-info text-white" style="max-width: 18rem;" [hidden]="employeeForm.invalid">Your new employee: {{ employeeForm.value.name}}, age: {{employeeForm.value.age}} with salary {{employeeForm.value.salary}} $ will be added to the system.
</div>
